@model TransferCenterWeb.Models.GlobalPatientTransfer.AdditionalInfo

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.ServicesAvailable)</td>
            <td class="col-sm-8">@(Model.ServicesAvailable ? "Yes" : "No")</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.SitterRequired)</td>
            <td class="col-sm-8">@(Model.SitterRequired ? "Yes" : "No")</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.VTIBDrips)</td>
            <td class="col-sm-8">@(Model.VTIBDrips ? "Yes" : "No")</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.Dialysis)</td>
            <td class="col-sm-8">@(Model.Dialysis ? "Yes" : "No")</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.PFCTTransfer)</td>
            <td class="col-sm-8">@(Model.PFCTTransfer ? "Yes" : "No")</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.CovidWithin3Days)</td>
            <td class="col-sm-8">@(Model.CovidWithin3Days ? "Yes" : "No")</td>
        </tr>

        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.FaceSheet)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.FaceSheet)</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.HAndP)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.HAndP)</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.CovidTestResults)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.CovidTestResults)</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.TransferOrder)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.TransferOrder)</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.ProgressNotes)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.ProgressNotes)</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.ConsultationNotes)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.ConsultationNotes)</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.MostRecentLabResults)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.MostRecentLabResults)</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.RadiologyResults)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.RadiologyResults)</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.MedicationList)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.MedicationList)</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.TreatmentsAndProceduresInED)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.TreatmentsAndProceduresInED)</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.InsuranceAuthorization)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.InsuranceAuthorization)</td>
        </tr>

        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.OtherNotes)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.OtherNotes)</td>
        </tr>
        <tr>
            <td class="col-sm-4">@Html.DisplayNameFor(model => model.CodeStatus)</td>
            <td class="col-sm-8">@Html.DisplayFor(model => model.CodeStatus)</td>
        </tr>
    </tbody>
</table>

