@model IEnumerable<TransferCenterWeb.Models.PatientTransfer.PatientTransferInfo>
@using System.Text.Encodings.Web
@{
    var htmlEncoder = HtmlEncoder.Default;
}

<table class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th>@Html.DisplayNameFor(model => model.CaseMgrSwRn)</th>
            <th>@Html.DisplayNameFor(model => model.TransferDate)</th>
            <th>@Html.DisplayNameFor(model => model.MR)</th>
            <th>@Html.DisplayNameFor(model => model.PrimaryCallerName)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.FaxNumber)</th>
            <th>@Html.DisplayNameFor(model => model.SecondaryCallerName)</th>
            <th>@Html.DisplayNameFor(model => model.SecondPhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.SecondFaxNumber)</th>
            <th>@Html.DisplayNameFor(model => model.RequestingFacility)</th>
            <th>@Html.DisplayNameFor(model => model.IsHloc)</th>
            <th>@Html.DisplayNameFor(model => model.ReferringMd)</th>
            <th>@Html.DisplayNameFor(model => model.ReferringMdPhone)</th>
            <th>@Html.DisplayNameFor(model => model.ReferringSpecialist)</th>
            <th>@Html.DisplayNameFor(model => model.ReferringSpecialistPhone)</th>
            <th>@Html.DisplayNameFor(model => model.AdmitDate)</th>
            <th>@Html.DisplayNameFor(model => model.Unit)</th>
            <th>@Html.DisplayNameFor(model => model.UnitPhone)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CaseMgrSwRn)</td>
            <td>@Html.DisplayFor(modelItem => item.TransferDate)</td>
            <td>@Html.DisplayFor(modelItem => item.MR)</td>
            <td>@Html.DisplayFor(modelItem => item.PrimaryCallerName)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.FaxNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.SecondaryCallerName)</td>
            <td>@Html.DisplayFor(modelItem => item.SecondPhoneNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.SecondFaxNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.RequestingFacility)</td>
            <td>@(item.IsHloc ? "Yes" : "No")</td>
            <td>@Html.DisplayFor(modelItem => item.ReferringMd)</td>
            <td>@Html.DisplayFor(modelItem => item.ReferringMdPhone)</td>
            <td>@Html.DisplayFor(modelItem => item.ReferringSpecialist)</td>
            <td>@Html.DisplayFor(modelItem => item.ReferringSpecialistPhone)</td>
            <td>@Html.DisplayFor(modelItem => item.AdmitDate)</td>
            <td>@Html.DisplayFor(modelItem => item.Unit)</td>
            <td>@Html.DisplayFor(modelItem => item.UnitPhone)</td>
            <td>
                @{
                    var detailsUrl = Url.Action("Details", new { id = item.UId });
                    var encodedDetailsUrl = htmlEncoder.Encode(detailsUrl ?? string.Empty);
                }
                <a href="@Html.Raw(encodedDetailsUrl)" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-info-circle"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
