@model TransferCenterWeb.Models.AdditionalInfo

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SitterRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SitterRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VTIBDrips)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VTIBDrips)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dialysis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dialysis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PFCTTransfer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PFCTTransfer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CovidWithin3Days)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CovidWithin3Days)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceSheet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceSheet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HAndP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HAndP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CovidTestResults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CovidTestResults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgressNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgressNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultationNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultationNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MostRecentLabResults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MostRecentLabResults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadiologyResults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadiologyResults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicationList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicationList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentsAndProceduresInED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentsAndProceduresInED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceAuthorization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceAuthorization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeStatus)
        </dd>
    </dl>
</div>

